<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="end/include/head">
<body style='overflow:scroll;overflow-x:hidden'>
	<div class="container bs-docs-container" style="width:100%;">
		<div class="row">
			<div class="panel panel-default">
				<div class="panel-heading">新增</div>
				<div class="panel-body">
					<form class="form-horizontal" role="form" id="dailogForm" action="$!{basePath}/system/bptUser.do?doAdd" method="POST">
						<input type="hidden" id="btn_sub" class="btn_sub" />
									<div class="form-group mno">
										<label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">用户名</label>
										<div class="col-sm-8">
											<input type="text" value="$!{bptUser.username}" name="username" id="username" class="form-control"  datatype="*" />
										</div>
									</div>
									<!--<div class="form-group mno">
										<label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">盐值</label>
										<div class="col-sm-8">
											<input type="text" value="$!{bptUser.salt}" name="salt" id="salt" class="form-control" />
										</div>
									</div>-->
									<div class="form-group mno">
										<label for="password" class="col-sm-2 control-label" style="text-align:left;">密码</label>
										<div class="col-sm-8">
											<input type="text" value="$!{bptUser.password}" name="password" id="password" class="form-control" datatype="*6-18"/>
										</div>
									</div>
						<div class="form-group mno">
							<label for="confirmPassword" class="col-sm-2 control-label" style="text-align:left;">确认密码</label>
							<div class="col-sm-8">
								<input type="text" name="confirmPassword" id="confirmPassword" class="form-control" recheck="password" datatype="*6-18" errormsg="两次输入的密码不一致！"/>
							</div>
						</div>
									<div class="form-group mno">
										<label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">真实姓名</label>
										<div class="col-sm-8">
											<input type="text" value="$!{bptUser.realName}" name="realName" id="realName" class="form-control" />
										</div>
									</div>
									<div class="form-group mno">
										<label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">用户状态</label>
										<div class="col-sm-8">
											<input type="text" value="$!{bptUser.status}" name="status" id="status" class="form-control" />
										</div>
									</div>
									<div class="form-group mno">
										<label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">邮箱</label>
										<div class="col-sm-8">
											<input type="text" value="$!{bptUser.email}" name="email" id="email" class="form-control" />
										</div>
									</div>
									<div class="form-group mno">
										<label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">生日</label>
										<div class="col-sm-8">
											<input type="text" value="$!dateTool.format("yyyy-MM-dd",$!{bptUser.birthday})" name="birthday" id="birthday" class="form-control" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd'})"   style="background: url('$!{basePath}/plug-in-ui/images/datetime.png') no-repeat scroll right center transparent;" />
										</div>
									</div>
									<div class="form-group mno">
										<label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">性别</label>
										<div class="col-sm-8">
											<input type="text" value="$!{bptUser.sex}" name="sex" id="sex" class="form-control" />
										</div>
									</div>
									<div class="form-group mno">
										<label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">手机号码</label>
										<div class="col-sm-8">
											<input type="text" value="$!{bptUser.mobilePhone}" name="mobilePhone" id="mobilePhone" class="form-control" />
										</div>
									</div>
									<div class="form-group mno">
										<label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">办公室电话</label>
										<div class="col-sm-8">
											<input type="text" value="$!{bptUser.officePhone}" name="officePhone" id="officePhone" class="form-control" />
										</div>
									</div>
									<div class="form-group mno">
										<label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">所属区域</label>
										<div class="col-sm-8">
											<input type="text" value="$!{bptUser.region}" name="region" id="region" class="form-control" />
										</div>
									</div>
									<div class="form-group mno">
										<label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">上次登录时间</label>
										<div class="col-sm-8">
											<input type="text" value="$!{bptUser.lastLoginTime}" name="lastLoginTime" id="lastLoginTime" class="form-control" />
										</div>
									</div>
									<div class="form-group mno">
										<label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">上次登录IP</label>
										<div class="col-sm-8">
											<input type="text" value="$!{bptUser.lastLoginIp}" name="lastLoginIp" id="lastLoginIp" class="form-control" />
										</div>
									</div>
									<div class="form-group mno">
										<label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">角色ID</label>
										<div class="col-sm-8">
											<input type="text" value="$!{bptUser.roleId}" name="roleId" id="roleId" class="form-control" />
										</div>
									</div>
									<div class="form-group mno">
										<label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">部门ID</label>
										<div class="col-sm-8">
											<input type="text" value="$!{bptUser.departId}" name="departId" id="departId" class="form-control" />
										</div>
									</div>
									<div class="form-group mno">
										<label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">修改人</label>
										<div class="col-sm-8">
											<input type="text" value="$!{bptUser.updateName}" name="updateName" id="updateName" class="form-control" />
										</div>
									</div>
									<div class="form-group mno">
										<label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">修改时间</label>
										<div class="col-sm-8">
											<input type="text" value="$!dateTool.format("yyyy-MM-dd",$!{bptUser.updateDate})" name="updateDate" id="updateDate" class="form-control" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd'})"   style="background: url('$!{basePath}/plug-in-ui/images/datetime.png') no-repeat scroll right center transparent;" />
										</div>
									</div>
									<div class="form-group mno">
										<label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">修改人id</label>
										<div class="col-sm-8">
											<input type="text" value="$!{bptUser.updateBy}" name="updateBy" id="updateBy" class="form-control" />
										</div>
									</div>
									<div class="form-group mno">
										<label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">创建人</label>
										<div class="col-sm-8">
											<input type="text" value="$!{bptUser.createName}" name="createName" id="createName" class="form-control" />
										</div>
									</div>
									<div class="form-group mno">
										<label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">创建时间</label>
										<div class="col-sm-8">
											<input type="text" value="$!dateTool.format("yyyy-MM-dd",$!{bptUser.createDate})" name="createDate" id="createDate" class="form-control" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd'})"   style="background: url('$!{basePath}/plug-in-ui/images/datetime.png') no-repeat scroll right center transparent;" />
										</div>
									</div>
									<div class="form-group mno">
										<label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">创建人id</label>
										<div class="col-sm-8">
											<input type="text" value="$!{bptUser.createBy}" name="createBy" id="createBy" class="form-control" />
										</div>
									</div>
						<div class="form-group mno">
							<div class="col-sm-offset-1 col-sm-6">
								<button type="button" class="btn btn-default" id="formReturn" data-dismiss="modal" onclick="doUrl('$!{basePath}/system/bptUser.do?list')">返回</button>
								<button type="button" class="btn btn-primary" id="formSubmit">提交</button>
							 </div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
<script type="text/javascript" src="$!{basePath}/plug-in-ui/js/Validform_v5.3.2.js"></script> 
<script type="text/javascript" src="$!{basePath}/plug-in-ui/js/forminit.p3.js"></script> 
