<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="end/include/head">

</head>
<body class="fixed-sidebar full-height-layout gray-bg" style="overflow:hidden">
<div id="wrapper">
    <nav th:replace="end/include/menu"></nav>
    <div th:replace="end/include/right"></div>
   <!-- <div  class="col-md-10">
    <iframe width="100%" height="600px" id="center"   th:src="@{/index.do?home}" style="border:1px #fff solid; background:#ffffff;"></iframe>
</div>-->
</div>
<!-- 全局js -->
<script th:src="@{/plug-in-ui/hplus/js/jquery.min.js}"></script>
<script th:src="@{/plug-in-ui/hplus/js/bootstrap.min.js}"></script>
<script th:src="@{/plug-in-ui/hplus/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
<script th:src="@{/plug-in-ui/hplus/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>
<script th:src="@{/plug-in-ui/hplus/js/plugins/layer/layer.min.js}"></script>

<!-- 自定义js -->
<script th:src="@{/plug-in-ui/hplus/js/hplus.js}"></script>
<script type="text/javascript" th:src="@{/plug-in-ui/hplus/js/contabs.js}"></script>
<!-- 第三方插件 -->
<script th:src="@{/plug-in-ui/hplus/js/plugins/pace/pace.min.js}"></script>
<!-- Sweet alert -->
<script th:src="@{/plug-in-ui/hplus/js/plugins/sweetalert/sweetalert.min.js}"></script>
<!--
<script th:src="@{/plug-in-ui/jquery-plugs/storage/jquery.storageapi.min.js}"></script>
-->
<!-- 弹出TAB -->
<!--
<script type="text/javascript" th:src="@{/plug-in-ui/hplus/hplus-tab.js}"></script>
-->

</body>
</html>
