<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="renderer" content="webkit">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>租房平台管理中心</title>

	<meta name="keywords" content="租房">
	<meta name="description" content="租房">

	<link rel="shortcut icon" href="images/favicon.ico">
<!--    引入css文件-->
	<link th:href="@{/plug-in-ui/project/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/plug-in-ui/project/css/style.css}" rel="stylesheet">
    <link th:href="@{/plug-in-ui/project/css/zTreeStyle/zTreeStyle.css}" type="text/css" rel="stylesheet"/>
	<link th:href="@{/plug-in-ui/project/css/mycss/kongjian.css}" rel="stylesheet">

<!--    引入js文件-->
    <script type="text/javascript" th:src="@{/plug-in-ui/project/js/iFrameResize.js}"></script>
	<script type="text/javascript" th:src="@{/plug-in-ui/project/js/jquery-1.9.1.js}"></script>
	<script type="text/javascript" th:src="@{/plug-in-ui/project/js/respond.min.js}"></script>
	<script type="text/javascript" th:src="@{/plug-in-ui/project/js/bootstrap.js}"></script>
	<script type="text/javascript" th:src="@{/plug-in-ui/project/js/common.js}"></script>
	<script type="text/javascript" th:src="@{/plug-in-ui/project/js/jquery.form.js}"></script>
<!--	<script type="text/javascript" th:src="@{/plug-in-ui/project/js/jquery.pager.js}"></script>-->
	<script type="text/javascript" th:src="@{/plug-in-ui/project/js/scrollNav.js}"></script>
	<script type="text/javascript" th:src="@{/plug-in-ui/project/js/My97DatePicker/WdatePicker.js}" language="javascript"></script>
	<script type="text/javascript" th:src="@{/plug-in-ui/jqPaginator/js/jqPaginator.min.js}"></script>
	<script type="text/javascript" th:src="@{/plug-in-ui/bootstrap_sweetAlert/sweetalert.min.js}"></script>


	<link th:href="@{/plug-in-ui/hplus/css/bootstrap.min.css}" rel="stylesheet">
	<link th:href="@{/plug-in-ui/hplus/css/font-awesome.min.css}" rel="stylesheet">
	<link rel="stylesheet" th:href="@{/plug-in-ui/hplus/css/font-awesome.min.css}" />
	<!--[if IE 7]>
	<link rel="stylesheet" th:href="@{/plug-in-ui/hplus/css/font-awesome-ie7.min.css}" />
	<![endif]-->
	<!-- Sweet Alert -->
	<link th:href="@{/plug-in-ui/bootstrap_sweetAlert/sweetalert.css}" rel="stylesheet">
	<link th:href="@{/plug-in-ui/hplus/css/animate.css}" rel="stylesheet">
	<link th:href="@{/plug-in-ui/hplus/css/style.css}" rel="stylesheet">
</head>
