<!DOCTYPE html>
<html lang="en">
<head th:replace="end/include/head">
<body style='overflow:scroll;overflow-x:hidden'>
<div class="container bs-docs-container" style="width:100%;">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">blueApp后台</div>
            <div class="panel-body">

                <h1 style="box-sizing: inherit; font-size: 28px; margin-right: 0px; margin-bottom: 10px; margin-left: 0px; font-family: Lato, &#39;Helvetica Neue&#39;, &#39;Microsoft YaHei&#39;, Arial, Helvetica, sans-serif; line-height: 1.33em; padding: 0px; min-height: 1rem; -webkit-font-smoothing: antialiased; cursor: text; position: relative; white-space: normal; margin-top: 0px !important; ">
                    blue app 支付管理中心
                </h1>
                <p style="box-sizing: inherit; margin-top: 0px; margin-bottom: 15px; line-height: 25px; text-align: justify; word-break: break-word; color: rgba(0, 0, 0, 0.8); font-family: Lato, &#39;Helvetica Neue&#39;, &#39;Microsoft YaHei&#39;, Arial, Helvetica, sans-serif; font-size: 15px; white-space: normal; ">
                </p>
                <p style="box-sizing: inherit; margin-top: 0px; margin-bottom: 15px; line-height: 25px; text-align: justify; word-break: break-word; color: rgba(0, 0, 0, 0.8); font-family: Lato, &#39;Helvetica Neue&#39;, &#39;Microsoft YaHei&#39;, Arial, Helvetica, sans-serif; font-size: 15px; white-space: normal; ">
                </p>

            </div>
        </div>
    </div>
</div>
</body>
</html>

